.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login_container {
  border: 3px solid rgb(46, 46, 161);
  border-radius: 10px;
  padding: 25px 35px;
  background-color: rgb(152, 178, 226);
}
.form_container {
  margin-bottom: 20px;
  display: flex;
  width: 30vw;
  flex-direction: column;
}
.form_container label {
  margin-bottom: 4px;
  font-weight: 500;
}
.login-field {
  padding: 20px 30px;
  background-color: rgb(196, 224, 224);
  color: rgb(46, 46, 161);
  border: 1px solid rgb(46, 46, 161);
  border-radius: 10px;
  font-size: 20px;
}
.login-field:focus {
  outline: none;
  border: 3px solid rgb(46, 46, 161);
}
.submit-button {
  background-color: rgb(46, 46, 161);
  color: #fff;
  padding: 15px;
  font-size: 15px;
  border: rgb(46, 46, 161);
  border-radius: 5px;
  text-transform: uppercase;
  word-spacing: 5px;
  cursor: pointer;
}
